
{% extends 'association_header.html' %}
{% block owner_home %}
{% load static %}
	<!-- BANNER -->
	<div id="oc-fullslider" class="banner owl-carousel">
        <div class="owl-slide">
        	<div class="item">
	            <img src="{% static 'home_images/home01.jpg' %}" alt="Slider">
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">We Provide<br>Best Photography</h1>
		                <p class="">The Best Photography .</p>
		                <a href="#" class="btn btn-primary">More About Us</a>
		            </div>  
	            </div>
        	</div>
        </div>
        <div class="owl-slide">
        	<div class="item">
	            <img src="{% static 'home_images/home02.jpg' %}" alt="Slider">
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">We Provide<br>Best Photography</h1>
		                <p class="">The Best Photography .</p>
		                <a href="#" class="btn btn-primary">More About Us</a>
		            </div>  
	            </div>
        	</div>  
        </div>
        <div class="owl-slide">
        	<div class="item">
	            <img src="{% static 'home_images/home03.jpg' %}" alt="Slider">
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		               <h1 class="caption-heading">We Provide<br>Best Photography</h1>
		                <p class="">The Best Photography .</p>
		                <a href="#" class="btn btn-primary">More About Us</a>
		            </div>  
	            </div>
        	</div>  
        </div>
    </div>

	<div class="clearfix"></div>

	<!-- ABOUT -->
	<div class="section bgi-left bgi-hide-xs" data-background="{% static 'home_images/about.jpg' %}">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-8 offset-md-4">

						<h2 class="section-heading text-primary no-after mb-4">
							Welcome to Capture You
						</h2>
						<p class="subheading mb-4">We are making photographs to understand what our lives mean to us.</p>

						<p>You don’t take a photograph. You ask quietly to borrow it.</p> 

						
						<div class="row mt-5">
							<!-- Item 1 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-scissors"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">Photography</h3>
										A portrait is not made in the camera but on either side of it.
									</div>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">Perfect Pictures</h3>
										A portrait is not made in the camera but on either side of it.</div>
								</div>
							</div>
							<!-- Item 3 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-shield"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">Best Photography</h3>
										A portrait is not made in the camera but on either side of it.</div>
								</div>
							</div>
							<!-- Item 4 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-medkit"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">Pictures</h3>
										A portrait is not made in the camera but on either side of it.</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>	

	<!-- FUN FACT -->
	<div class="bgi-cover-center" data-background="{% static 'home_images/statistic_bg.jpg' %}">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					
					<!-- Item 1 -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="rs-icon-funfact style-2 text-white">
							<div class="icon">
								<i class="fa fa-smile-o"></i>
							</div>
							<div class="body-content">
								<h2>2700</h2>
								<p class="uk16 text-primary">Happy Customers</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="rs-icon-funfact style-2 text-white">
							<div class="icon">
								<i class="fa fa-github"></i>
							</div>
							<div class="body-content">
								<h2>4520</h2>
								<p class="uk16 text-primary">Candid</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="rs-icon-funfact style-2 text-white">
							<div class="icon">
								<i class="fa fa-stethoscope"></i>
							</div>
							<div class="body-content">
								<h2>15</h2>
								<p class="uk16 text-primary">Team Works</p>
							</div>
						</div>
					</div>

					<!-- Item 4 -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="rs-icon-funfact style-2 text-white">
							<div class="icon">
								<i class="fa fa-trophy"></i>
							</div>
							<div class="body-content">
								<h2>21</h2>
								<p class="uk16 text-primary">Awards Winner</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- OUR SERVICES -->
	<div class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							Our Services
						</h2>
						<p class="subheading text-center">You don’t take a photograph. You ask quietly to borrow it.</p>
					</div>
				</div>

				<div class="row mt-4">
					
					<!-- Item 1 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-image-box">
							<div class="media">
								<a href="#"><img src="{% static 'home_images/services01.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<div class="body-text">
								<h3 class="title"><a href="#">Photography Services</a></h3>
								The picture that you took with your camera is the imagination you want to create with reality.
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-image-box">
							<div class="media">
								<a href="#"><img src="{% static 'home_images/services02.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<div class="body-text">
								<h3 class="title"><a href="#">Videos</a></h3>
The picture that you took with your camera is the imagination you want to create with reality.							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-image-box">
							<div class="media">
								<a href="#"><img src="{% static 'home_images/services03.jpg' %}" alt="" class="img-fluid"></a>
							</div>
							<div class="body-text">
								<h3 class="title"><a href="#">Photographers</a></h3>
The picture that you took with your camera is the imagination you want to create with reality.							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-12 col-md-12 text-center">
						<a href="#" class="btn btn-secondary mt-5">Check More</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- DO PETS -->
	<div class="section bgi-cover-center" data-background="{% static 'home_images/home02.jpg' %}">
		<div class="content-wrap">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<div class="wrap-form">
							<h2 class="text-primary mb-2">
								Do Pets Have Allergies?
							</h2>
							<p class="uk21 text-white">We are pets clinic dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							
							<p class="text-white">Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.</p>
							<div class="spacer-30"></div>
							<a href="#" class="btn btn-primary">Learn More</a>
							<div class="spacer-30"></div>
							<div class="row">
								<div class="col-sm-8 col-md-8">
									<div class="img-video">
										<a href="#" class="popup-youtube play-video"><i class="fa fa-play fa-2x"></i></a>
										<img src="{% static 'home_images/home01.jpg' %}" alt="" class="shadow img-fluid">
										<div class="ripple"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MEET VETERINARY -->
	<div class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							Meet Photographers
						</h2>
						<p class="subheading text-center">Your satisfactions are our top priority.</p>
					</div>
				</div>

				<div class="row mt-4">
					
					<!-- Item 1 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-team-1">
							<div class="media">
								<img src="{% static 'home_images/vet05.jpg' %}" alt="" class="img-fluid">
								<div class="sosmed-icon">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
							<div class="body">
								<div class="title">John Doel</div>
								<div class="text-primary">Photographer</div>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-team-1">
							<div class="media">
								<img src="{% static 'home_images/vet06.jpg' %}" alt="" class="img-fluid">
								<div class="sosmed-icon">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
							<div class="body">
								<div class="title">Mellis Doel</div>
								<div class="text-primary">Photographer</div>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-team-1">
							<div class="media">
								<img src="{% static 'home_images/vet07.jpg' %}" alt="" class="img-fluid">
								<div class="sosmed-icon">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
							<div class="body">
								<div class="title">Aldizza Doel</div>
								<div class="text-primary">Photographer</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-12 col-md-12 text-center">
						<a href="#" class="btn btn-secondary mt-5">Check More</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- HAPPY CLIENTS -->
	<div class="section bgi-cover-center" data-background="{% static 'home_images/testimonials_bg.jpg' %}">
		<div class="content-wrap">
			<div class="container">
				<div class="row">

					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary mb-4">
							What Customer's Say
						</h2>
						<p class="subheading text-center">Your satisfactions are our top priority..</p>
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-10 offset-md-1">
						<div id="testimonial">
							<!-- Item 1 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media">
											<img src="{% static 'home_images/team-1.jpg' %}" alt="" class="rounded-circle">
										</div>
										<blockquote class="text-black">
										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
										</blockquote>
										<p class="quote-name">
											Johnathan Doel <span>Businessman</span>
										</p>                        
									</div>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media">
											<img src="{% static 'home_images/team-2.jpg' %}" alt="" class="rounded-circle">
										</div>
										<blockquote class="text-black">
										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
										</blockquote>
										<p class="quote-name">
											Johnathan Doel <span>CEO Buka Kreasi</span>
										</p>                        
									</div>
								</div>
							</div>
							<!-- Item 3 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media">
											<img src="{% static 'home_images/team-3.jpg' %}" alt="" class="rounded-circle">
										</div>
										<blockquote class="text-black">
										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
										</blockquote>
										<p class="quote-name">
											Johnathan Doel <span>Businessman</span>
										</p>                        
									</div>
								</div>
							</div>
							<!-- Item 4 -->
							<div class="item">
								<div class="rs-box-testimony">
									<div class="quote-box">
										<div class="media">
											<img src="{% static 'home_images/team-4.jpg' %}" alt="" class="rounded-circle">
										</div>
										<blockquote class="text-black">
										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
										</blockquote>
										<p class="quote-name">
											Johnathan Doel <span>CEO Buka Kreasi</span>
										</p>                        
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- OUR ARTICLES -->
	<div class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							From Our Articles
						</h2>
						<p class="subheading text-center">Your satisfactions are our top priority..</p>
					</div>
				</div>

				<div class="row mt-4">
					
					<!-- Item 1 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-news-1 mb-5">
							<div class="media">
								<a href="#">
									<img src="{% static 'home_images/blog-img-1.jpg' %}" alt="" class="img-fluid">
								</a>
							</div>
							<div class="body">
								<div class="title"><a href="#">Photography Events</a></div>
								<div class="meta-date">May 12, 2019</div>
								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-news-1 mb-5">
							<div class="media">
								<a href="#">
									<img src="{% static 'home_images/blog-img-2.jpg' %}" alt="" class="img-fluid">
								</a>
							</div>
							<div class="body">
								<div class="title"><a href="#">Fests</a></div>
								<div class="meta-date">May 12, 2019</div>
								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-news-1 mb-5">
							<div class="media">
								<a href="#">
									<img src="{% static 'home_images/blog-img-3.jpg' %}" alt="" class="img-fluid">
								</a>
							</div>
							<div class="body">
								<div class="title"><a href="#">College Arts Day</a></div>
								<div class="meta-date">May 12, 2019</div>
								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
							</div>
						</div>
					</div>

				</div>

				<div class="spacer-50"></div>

			</div>
		</div>
	</div>

	<!-- CTA -->
	<div class="section bgi-cover-center" data-background="{% static 'home_images/pattern_bg.jpg' %}">
		<div class="content-wrap py-0">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-5 col-md-5">
						<div class="img-cta">
							<img src="{% static 'home_images/product_promo.jpg' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="text-white mt-5">
							<h1 class="section-heading no-after text-white">
								SPECIAL OFFER THIS WEEK!
							</h1>
							<p class="uk21 text-white mb-4">Get Discount 10% Off On Your Bookings.</p>
							<p class="mb-5">Sed orci dolor, pulvinar nec luctus a, malesuada ac nisl. Aliquam eleifend et dui et suscipit. Nam semper accumsan ante, ac dapibus urna dapibus et.</p>

						</div>
						<a href="#" class="btn btn-light">Shop Now</a>	
						<div class="spacer-50"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="spacer-90"></div>

	<!-- AWARDS -->
	<div class="section">
		<div class="content-wrap content-wrap-40">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							Our Awards
						</h2>
						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#">
								<img src="{% static 'home_images/client1.png' %}" alt="" class="img-fluid">
							</a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static 'home_images/client2.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static 'home_images/client3.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static 'home_images/client4.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static 'home_images/client5.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static 'home_images/client6.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->
	<div class="section cta bgi-cover-center" data-background="{% static 'home_images/pattern_bg.jpg' %}">
		<div class="content-wrap py-5">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-12 col-md-12">
						<div class="cta-1">
			              	<div class="body-text text-white mb-3">
			                	<h3 class="my-1">Get 30% off for the First Time Appointment!</h3>
			                	<p class="uk18 mb-0">Contact us now and make an appointment today</p>
			              	</div>
			              	<div class="body-action">
			                	<a href="#" class="btn btn-secondary">Appointment Now!</a>
			              	</div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER SECTION -->
	<div class="footer bg-overlay-secondary" data-background="{% static 'home_images/statistic_bg.jpg' %}">
		<div class="content-wrap">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-2 col-md-2">
						<div class="footer-item">
							<img src="{% static 'home_images/logo.jpg' %}" alt="logo bottom" class="logo-bottom" width="120px" height="80px">
							<div class="spacer-20"></div>
							<p>The picture that you took with your camera is the imagination you want to create with reality.
.</p>
							<div class="spacer-20"></div>
							<img src="{% static 'home_images/payment.png' %}" alt="">
						</div>
					</div>

					<div class="col-sm-6 col-md-4">
						<div class="footer-item">
							<div class="footer-title">
								Opening Hours
							</div>
							<p>Our support available to help you 24 hours a day. We provide our best.</p>
							<ul class="list">
								<li>
									Mon - Fri : 08.00 am - 20.00 pm
								</li>
								<li>
									Saturday : 09.00 am - 20.00 pm
								</li>
								<li>
									Sunday :  We Are Closed
								</li>
							</ul>

						</div>
					</div>
					
					<div class="col-sm-6 col-md-4">
						<div class="footer-item">
							<div class="footer-title">
								Contact Info
							</div>
							<p>Lit sed The Best in dolor sit amet consectetur</p>
							<ul class="list-info">
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-map-marker"></span>
									</div>
									<div class="info-text">99 S.t Jomblo Park Pekanbaru 28292. Indonesia</div> 
								</li>
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-phone"></span>
									</div>
									<div class="info-text">(0761) 654-123987</div>
								</li>
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-envelope"></span>
									</div>
									<div class="info-text">mail@hellopets.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<p class="ftex">&copy; 2019 Your Company. All Rights Reserved. Designed By <span class="text-primary">Rometheme</span></p> 
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="sosmed-icon d-inline-flex float-right">
							<a href="#"><i class="fa fa-facebook"></i></a> 
							<a href="#"><i class="fa fa-twitter"></i></a> 
							<a href="#"><i class="fa fa-instagram"></i></a> 
							<a href="#"><i class="fa fa-pinterest"></i></a> 
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- JS VENDOR -->
	<script src="{% static 'home_js/vendor/jquery.min.js' %}"></script>
	<script src="{% static 'home_js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'home_js/vendor/owl.carousel.js' %}"></script>
	<script src="{% static 'home_js/vendor/jquery.magnific-popup.min.js' %}"></script>

	<!-- SENDMAIL -->
	<script src="{% static 'home_js/vendor/validator.min.js' %}"></script>
	<script src="{% static 'home_js/vendor/form-scripts.js' %}"></script>

	<script src="{% static 'home_js/script.js' %}"></script>



{% endblock %}
