

{%  extends 'customer_header.html' %}
{% block viewphotographer %}
<html>
        <script src="../static/js/jquery.js"></script>
    <h2 align="center" style="color:brown">Choose Your Photographer</h2>
    <body>
    <form method="POST">
     {% csrf_token %}
        <table align="center" width="500" height="150">
            
            <tr><td>District:</td><td><select name="district" id="district" class="textbox">
                <option class="textbox" style="color:black">--select district--</option>
                {% for d in data %}
                <option value="{{d.0}}" style="color:black" class="textbox">{{d.1}}</option>
                {% endfor %}
                </select>  </td></tr>
       <tr><td>Place</td><td><select  id="place" name="place" class="textbox">
            <option style="color:black">--Choose Place--</option>		
                                      
                 </select></td>
           </tr>
         <tr><td>Photographer</td><td><select  id="pg" name="pg" class="textbox">
                <option style="color:black"> --Choose Photographer--</option>		
                                          
                     </select></td>
            <tr><td></td></tr>
           

<tr><td><input type="submit" name="search" value="Search"></td></tr>
</table>

</form>
<br>
<br>
<script>

        $("#district").change(function (){
            
            var c=0;
            debugger;
            var entity=new Array();
            var cid = $("#district").val();
           
            //alert(cid);
    
           //var data = JSON.stringify(entity);
                         var urls='/placelist/?d_id=' + cid ;
            $.ajax({
               
                url: urls,
                /*data: data,
                dataType: "JSON",
                contentType: "Application/json",*/
               /* success: function (data) {
                    alert('success');
    
                },
                error: function (xhr, status, error) {
                    debugger;
                }*/
                success: function(data){
                    
                    $('select[name=place]').empty()
                   $.each(data, function(index, text){                            
                       $('select[name=place]').append(
                        $('<option></option>').val(text).html(text)
                       );                       
                       });                        
                     }                       
    
               })
              
            })
    
</script>
<script>
$("#place").change(function (){
            
            var c=0;
            debugger;
            var entity=new Array();
            var cid = $("#place").val();
            
            //alert(cid);
    
           //var data = JSON.stringify(entity);
                         var urls='/photographerlist/?d_id=' + cid ;
            $.ajax({
               
                url: urls,
                /*data: data,
                dataType: "JSON",
                contentType: "Application/json",*/
               /* success: function (data) {
                    alert('success');
    
                },
                error: function (xhr, status, error) {
                    debugger;
                }*/
                success: function(data){
                   
                     $('select[name=pg]').empty()
                    $.each(data, function(index, text){                            
                        $('select[name=pg]').append(
                         $('<option></option>').val(text).html(text)
                        );                       
                        });                        
                     }                       
    
               })
              
            })
        
    
    </script>
{% endblock %}