{% extends 'photographer_header.html' %}
{% block owner_home %}
<form method="POST">
{% csrf_token%}

<br>
<h2 align="center" style="color: brown;">  Award Details</h2>
<br>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 95%;
      margin-left: 2%;
      border: #000000;
      
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th{
        background-color: #3C2800;
        color: white;
    }
    td{
        color: black;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <br>
<table class="customers">

    <th>Association Name</th>
    <th>Award</th>
    <th>Photographer</th> 
    <th>Description</th>
    <th>Date</th>
    {% for x in data %}
    <tr>
        
        <td>
            {{x.1}}
        </td>
        <td>
            {{x.2}}
        </td>
        <td>
            {{x.3}}
        </td>
        <td>
            {{x.4}}
        </td>
        <td>
            {{x.5}}
        </td>
       
          </tr> 
    {% endfor %} 
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</form>
{% endblock %}
