*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

   
}
.main{
    background-color: aliceblue;
    width: 500px;
    height:250px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.quiz-con{
     padding: 40px;  

    
}
.quiz-con h2{
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 10px;
}
.quiz-con ul{
    list-style-type: none;
    margin-left: 10px;
}
.quiz-con li,label{
    display: flex;
    align-items: center;
}
.quiz-con label{
    margin-left: 3px;
}
.btn{
    padding:10px;
    margin-top: -30px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,106,121,1) 0%, rgba(0,212,255,1) 100%);
    color: aliceblue;
    font-size: 15px;
    transition: .3s ease;
}
.btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,106,121,1) 0%, rgba(9,106,255,1) 100%);
   cursor: pointer;
}